@import "tailwindcss";

@source "../../views/**/*.html.erb";
@source "../../views/**/_*.html.erb";
@source "../../helpers/**/*.rb";
@source "../../javascript/**/*.js";

@theme {
  --color-primary: #0D233E;
  --color-accent: #A2D235;
  --color-secondary: #E5E7EB;
}